package services

import (
	"fmt"
	"strings"
	"time"

	"{{.GoModule}}/app/models"
)

type GreetingService interface {
	Greet(name string) models.Greeting
}

type greetingService struct {
	now func() time.Time
}

func NewGreetingService() GreetingService {
	return &greetingService{now: time.Now}
}

func (service *greetingService) Greet(name string) models.Greeting {
	name = strings.TrimSpace(name)
	return models.Greeting{
		Message:   fmt.Sprintf("Hello, %s!", name),
		ServedBy:  "Go GreetingService",
		Timestamp: service.now(),
	}
}
