{
  "schemaVersion": 3,
  "projectName": "{{.ProjectName}}",
  "goModule": "{{.GoModule}}",
  "frameworkModule": "{{.BridraGoModule}}",
  "frameworkVersion": "{{.FrameworkVersion}}",
  "templateVersion": {{.TemplateVersion}},
  "protocolVersion": {{.ProtocolVersion}},
  "platforms": [{{range $index, $platform := .Platforms}}{{if $index}}, {{end}}{{quote $platform}}{{end}}]
}
