package main

import (
	"context"
	"errors"
	"fmt"
	"os"
	"os/signal"
	"syscall"

	"{{.GoModule}}/app"
	"{{.BridraGoModule}}/framework"
)

func main() {
	launch, err := framework.ReadSidecarLaunch(os.Args[1:], os.Stdin)
	if err != nil {
		fmt.Fprintf(os.Stderr, "sidecar: launch: %v\n", err)
		os.Exit(2)
	}
	if launch.UsesStdinHandshake {
		fmt.Fprintln(os.Stderr, framework.SidecarLaunchReadyMessage)
	}
	fileTransfers, err := framework.NewFileTransferStore(
		framework.FileTransferOptions{ExposeLocalPath: true},
	)
	if err != nil {
		fmt.Fprintf(os.Stderr, "sidecar: file transfers: %v\n", err)
		os.Exit(2)
	}
	defer fileTransfers.Close()
	server := framework.Server{
		Router: app.NewRouterWithFileTransfers(
			launch.Token,
			os.Stderr,
			"Go sidecar",
			fileTransfers,
		),
		Input:         launch.Input,
		Output:        os.Stdout,
		Errors:        os.Stderr,
		FileTransfers: fileTransfers,
		Token:         launch.Token,
	}
	signalContext, stopSignals := signal.NotifyContext(
		context.Background(),
		os.Interrupt,
		syscall.SIGTERM,
	)
	defer stopSignals()
	ctx, stopParent, err := framework.ParentProcessContext(signalContext)
	if err != nil {
		fmt.Fprintf(os.Stderr, "sidecar: parent lifecycle: %v\n", err)
		os.Exit(2)
	}
	defer stopParent()
	go func() {
		<-ctx.Done()
		_ = os.Stdin.Close()
	}()
	serveError := server.Serve(ctx)
	cause := context.Cause(ctx)
	if cause != nil &&
		!errors.Is(cause, context.Canceled) &&
		!errors.Is(cause, framework.ErrParentProcessExited) {
		serveError = errors.Join(serveError, cause)
	}
	if serveError != nil {
		fmt.Fprintf(os.Stderr, "sidecar: %v\n", serveError)
		os.Exit(1)
	}
}
